.input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.number-input-field {
  width: 40px;
  height: 24px;
  padding: 4px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input-number-button {
  width: 24px;
  height: 24px;
  outline: none;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
