* {
  margin: 0;
  padding: 0;
}

.router-Link.topMenu {
  margin: 0 10px;
  text-decoration: underline;
  color: red;
}

.coffee-application {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.page-navigator-container {
  width: 80px;
}

#root {
  height: 100%;
}
