@import "/Coffee/coffee.less";

.settings-menu-master {
   width: 120px;
   position: relative;
   background-color: #C0C0C0;
   &:after {
      position: absolute;
      content: '';
      width: 2px;
      background: lightgrey;
      height: 100%;
      right: 0;
      top: 0;
   }
}

.settings-master-list-items {
   padding: 12px;
   position: relative;
}